html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2, h4, p{
  margin: 0;
}

body{
  padding: 20px;
}


#card {
  width: 600px;
  height: 450px;
  box-shadow: -1px 0px 8px 4px rgba(189,187,189,1);
  border-radius: 5px;
  overflow: hidden;
  
}

#top{
  width: 100%;
  height: 45%;
  padding: 40px;
}

#top h2{
  color: #2ab2af;
  margin-bottom: 25px;
}

#top h4{
  color: #c0df34;
  margin-bottom: 10px;
}

#top p{
  color: #98a6bd;
  font-size: 0.85rem;
}

#bottom{
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left{
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 40px;
}

#bottom-right{
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #10c2bf;
  padding: 40px;
}

button {
  color: white;
  background-color: #c0df34;
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  border: none;
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.49);
}
  
#price{
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
} 

#bottom-left h4{
  margin-bottom: 20px;
}

#price-frequency{
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  top: -3px;
  left: 7px;
  opacity: 0.6;
  margin-bottom: 15px;
}

#price-per-day{
  font-size: 0.8rem;
  margin-bottom: 30px;
}

#line-one{
  margin-bottom: 5px;
}


ul{
  margin-top: 15px;
  padding: 0px;
  list-style: none;
  font-size: 0.85rem;
}

li {
  margin: 3px 0;
  opacity: 0.8;
}
